<ion-content>
  <ion-item>
    <ion-label>m variable: </ion-label>
    <ion-input type="number" [(ngModel)]="helper.m" name="mVar"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>y variable: </ion-label>
    <ion-input type="number" [(ngModel)]="helper.y" name="yVar"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>(m^2+2.8m+0.355)/(cos⁡2y+3.6): {{ helper.result == 'NaN' ? '' : helper.result }}</ion-label>
  </ion-item>
  <ion-button [routerLink]="['/personal-info']">Go to detail</ion-button>
  <ion-button [routerLink]="['/second-part']">Second part</ion-button>
  <ion-button [routerLink]="['/third-part']">Database part</ion-button>
</ion-content>